@model Aula_03.Models.ClassificacaoLivro;
<form method="post">
    <div>
        <div class="form-group">
            <label asp-for="Classificacao"></label>
            <input asp-for="Classificacao" class="form-control" />
            <span asp-validation-for="Classificacao" class="text-danger small"></span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Salvar</button>
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    </div>
</form>
@if (ViewBag.TipoMensagem != null)
{
    if (ViewBag.TipoMensagem == "Erro")
    {
        <div class="alert alert-danger">@ViewBag.Mensagem</div>
    }
    else
    {
        <div class="alert alert-success">@ViewBag.Mensagem</div>
    }
}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
