@model Aula_03.Models.ClassificacaoLivro;
@if (ViewBag.TipoMensagem != null)
{
    <div class="row">
        <div class="col-12 mb-2">
            @if (ViewBag.TipoMensagem == "Erro")
            {
                <div class="alert alert-danger">@ViewBag.Mensagem</div>
            }
            else if (ViewBag.TipoMensagem == "Sucesso")
            {
                <div class="alert alert-success">@ViewBag.Mensagem</div>
            }
        </div>
    </div>
}

<div class="row">
    <div class="col-12">
        <form method="post" asp-action="Edit">
            <input type="hidden" asp-for="ID" />
            <div>
                <div class="form-group">
                    <label asp-for="Classificacao"></label>
                    <input asp-for="Classificacao" class="form-control" />
                    <span asp-validation-for="Classificacao" class="text-danger small"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
